@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --body-color: rgba(250, 250, 250);
    --color-white: rgba(250, 250, 250);
    --text-color-second: rgba(38, 37, 37);
    --first-color: rgba(110, 87, 224);
    --first-shadow: rgba(0, 0, 0, 0.1);

    --box-color: #fff;
    --nav-color: #fff;
    --nav-icon: #000;
    --logo-color: #000;

    --text-color: #444444;
    --color-white: #242526;

    --icon-color: #242526;
    --mode-color: #ccc;
}

body {
    background: var(--body-color);
}

/* Dark Mode */
body.dark {
    --body-color: #202425;
    --box-color: #fff;

    --nav-color: #262425;
    --color-white: #fff;
    --text-color: #fff;

    --nav-icon: #fff;
    --logo-color: #fff;
    --icon-color: #8749f2;
    --mode-color: #fff;
}

.container {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 100px;
    background: var(--nav-color);
    padding-inline: 10vw;
    transition: 0.3s;
    z-index: 100;
}

.nav-logo {
    position: relative;
}

.nav-logo a {
    text-decoration: none;
}

.nav-name {
    font-size: 30px;
    font-weight: 600;
    color: var(--logo-color);
}

.nav-name span {
    color: var(--first-color);
}

.nav-menu,
.nav_menu_list {
    display: flex;
    column-gap: -30px;
}

.nav-menu,
.nav_list {
    list-style: none;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}

.nav-menu-btn {
    display: none;
}

.nav-menu-btn i {
    font-size: 28px;
    cursor: pointer;
    color: var(--nav-icon);
}

.active-link {
    position: relative;
    color: var(--first-color);
    transition: 0.3s;
}

.active-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 2px;
    background: var(--first-color);
}

/* Mode */
.mode {
    display: flex;
    align-items: center;
    margin-right: -2%;
}

.moon-sun {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    cursor: pointer;
    background: var(--mode-color);
}

.moon-sun :is(#moon, #sun) {
    position: absolute;
    transition: .2s ease-in-out;
}

#sun {
    opacity: 0;
}

body.dark #sun {
    opacity: 1;
}

body.dark #moon {
    opacity: 0;
}

/* Wrapper */
.wrapper {
    padding-inline: 10vw;
}

/* Featured Box */
.featured-box {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

/* Featured Text */
.featured-text {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
    margin-top: 10%;
}

.featured-text .hello {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -20px;
    color: var(--text-color);
}

.featured-name {
    font-size: 50px;
    font-weight: 600;
    margin-block: 20px;
    color: #8749f2;
    margin-bottom: 10px;
}

.typed-text {
    font-family: sans-serif;
    color: #8749f2;
    font-size: 50px;
    font-weight: 600;
    text-transform: capitalize;
}

.text-info {
    font-size: 16px;
    margin-bottom: 30px;
    color: var(--text-color);
}

.text-btn {
    display: flex;
    border-radius: 8px;
    cursor: pointer;
    gap: 20px;
}

.text-btn .btn {
    border: none;
    color: #f4f4f4;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.btn {
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    background: #8749f2;
    font-weight: 500;
    transition: all 0.5s ease;
}

.btn i {
    margin-right: 10px;
}

i {
    font-size: 16px;
}

/* Social Icons */
.social_icons {
    display: flex;
    margin-top: 30px;
    margin-left: 5px;
    gap: 32px;
}

.social_icons .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: var(--icon-color);
    border-radius: 50%;
    box-shadow: 0px 1px 5px 3px #8749f2;
    cursor: pointer;
}

.icon_circle {
    position: absolute;
    transform: transform(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    animation: iconSlide 4s infinite alternate;
}

@keyframes iconSlide {
    25% {
        border: 2px solid #e6d12e;
        left: 0px;
    }

    50% {
        border: 2px solid #c40101;
        left: 70px;
    }

    75% {
        border: 2px solid #8749f2;
        left: 145px;
    }

    100% {
        border: 2px solid #47ea15;
        left: 216px;
    }
}

.social_icons:hover .icon_circle {
    animation-play-state: paused;
    cursor: pointer;
}

/* Featured Image */
.featured-image {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 80vh;
    width: 100%;
}

.image {
    margin-top: 20%;
    width: 500px;
    height: 700px;
    border-radius: 40% 40% 40% 40%;
    overflow: hidden;
    animation: imgFloat 5s ease-in-out infinite;
}

.image img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

@keyframes imgFloat {
    50% {
        transform: translateY(50px);
    }
}

/* Main */
.section {
    padding-block: 2em;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.col {
    display: flex;
    width: 50%;
}

.top-header {
    text-align: center;
    margin-bottom: 2em;
}

.top-header h1 {
    font-size: 36px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 10px;
}

/* About Info */
.about-info {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 45px 45px;
    padding-inline: 35px;
    border: 2px solid #fff;
    background: transparent;
    box-shadow: 1px 8px 10px 2px var(--first-shadow);
    border-radius: 20px;
}

.about-me * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.about-info figcaption {
    width: 100%;
    padding: 25px;
    position: relative;
}

.about-me .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 40%;
    z-index: 1;
    background-color: #fff;
    max-width: 90px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.about-me h2 {
    color: var(--text-color);
    text-align: center;
}

.about-me p {
    margin-top: 10px;
    color: var(--text-color);
    text-align: center;
}

.about-info .about-me-btn {
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background: #8749f2;
    color: #fff;
    margin-top: 4px;
    font-weight: 500;
    transition: all 0.5s ease;
}

/* Tab */
.tabs {
    display: flex;
    position: relative;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #8749f2;
    transition: all 0.2s ease;
}

.tab-item {
    min-width: 180px;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: #8749f2;
    background: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tab-item:hover {
    opacity: 1;
    background-color: rgba(69, 155, 208, 0.1);
    border-color: rgba(79, 178, 228, 0.1);
}

.tab-item.active {
    opacity: 1;
}

.tab-content {
    padding: 28px 0;
}

.tab-pane {
    color: #333;
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

/* Skill Box */
.skill,
.experience,
.education {
    position: relative;
    max-width: 600px;
    width: 100%;
    background: transparent;
    box-shadow: 1px 8px 10px 2px var(--first-shadow);
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 20px;
}

.skill .skill-box,
.experience .experience-box,
.education .education-box {
    width: 100%;
    margin: 25px 0;
}

.skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}

.skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0, 0, 0, 0.1);
}

.skill-box .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #8749f2;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}

.skill-per.java {
    animation-delay: 0.1s;
    width: 80%;
}

.skill-per.spring {
    animation-delay: 0.1s;
    width: 70%;
}

.skill-per.hibernate {
    animation-delay: 0.1s;
    width: 70%;
}

.skill-per.dbms {
    animation-delay: 0.1s;
    width: 80%;
}

.skill-per.html {
    animation-delay: 0.1s;
    width: 75%;
}

.skill-per.css {
    animation-delay: 0.1s;
    width: 70%;
}

.skill-per.javascript {
    animation-delay: 0.1s;
    width: 50%;
}

.skill-per.bootstrap {
    animation-delay: 0.1s;
    width: 60%;
}

.skill-per.git-github {
    animation-delay: 0.1s;
    width: 70%;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    color: #fff;
    padding: 2px 6px;
    border-radius: 20px;
    background: #8749f2;
    z-index: 1;
}

.experience-box .title,
.education-box .title {
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
}

.experience-box .company-name,
.education-box .college-name {
    text-decoration: none;
    color: #8749f2;
    font-size: 17px;
    font-weight: 500;
}

.experience-box .doj-loc,
.education-box .start-end-loc {
    display: flex;
    gap: 10%;
    color: var(--color-white);
    padding-top: 4px;
}

.doj-loc i,
.start-end-loc i {
    font-size: 17px;
}

.job-desc {
    color: var(--color-white);
    padding-top: 6px;
    padding-left: 18px;
}

/* Projects Box */
.project-container,
.portfolio-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.portfolio-container {
    margin-bottom: 24px;
}

.project-box,
.portfolio-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow);
    overflow: hidden;
    cursor: pointer;
}

.project-box>i {
    font-size: 50px;
    color: #8749f2;
    margin-bottom: 25px;
}

.project-box h3 {
    color: var(--text-color);
}

.project-box label {
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    padding-inline: 18px;
}

.project-box::after,
.contact-info::after {
    content: "";
    position: absolute;
    bottom: -100%;
    background: #8749f2;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    z-index: 0.1;
}

.project-box:hover.project-box::after,
.contact-info:hover.contact-info::after {
    bottom: 0;
}

.project-box:hover.project-box i,
.project-box:hover.project-box>h3,
.project-box:hover.project-box>label {
    color: #fff;
    z-index: 2;
}

.top-header span {
    color: var(--text-color);
}

/* Portfolio Box */
.portfolio-box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    color: var(--box-color);
    background: linear-gradient(rgba(0, 0, 0, 0.6), #8749f2);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-size: 22px;
    color: var(--box-color);
    font-weight: 600;
    margin-bottom: 14px;
}

.layer a {
    margin-top: 16px;
    color: #8749f2;
    text-decoration: none;
    font-size: 24px;
    line-height: 50px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box:hover .layer {
    height: 100%;
}

.see-more-btn {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: fit-content;
    border: 2px solid #8749f2;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    background: #8749f2;
}

/* Contact Box */
.contact-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 20px 40px;
    width: 100%;
    height: 380px;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow);
    overflow: hidden;
    cursor: pointer;
}

.contact-info>h2 {
    color: var(--text-color);
    margin-bottom: 20px;
}

.contact-info>p {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    margin-block: 5px;
}

.contact-info::after {
    color: #8749f2;
}

.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i {
    color: #fff;
    z-index: 2;
}

/* Contact Form */
.form-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
}

.input-field {
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid #aaa;
    color: var(--text-color);
    padding-inline: 20px;
    border-radius: 10px;
    outline: none;
}

.input-subject {
    width: 100%;
    height: 55px;
    background: transparent;
    border: 2px solid #aaa;
    color: var(--text-color);
    border-radius: 10px;
    padding-inline: 20px;
    margin-bottom: 10px;
    outline: none;
}

textarea {
    width: 100%;
    height: 250px;
    background: transparent;
    border: 2px solid #aaa;
    padding: 15px 20px;
    color: var(--text-color);
    border-radius: 10px;
    outline: none;
    resize: none;
}

.form-button>.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    border: none;
    background: #8749f2;
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
}

.form-button i {
    font-size: 18px;
    rotate: -45deg;
    margin-left: 10px;
}

#msg {
    color: #008000;
    margin-top: -10px;
    display: block;
}

/* Footer Box */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: var(--body-color);
    padding-block: 40px 60px;
}

.middle-footer .footer-menu {
    display: flex;
}

.footer-menu-list {
    list-style: none;
}

.footer-menu-list a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    margin-inline: 20px;
}

.footer-menu-list a:hover {
    color: #8749f2;
}

.footer-social-icons {
    display: flex;
    gap: 30px;
    color: var(--color-white);
}

.bottom-footer {
    font-size: 14px;
    margin-top: 10px;
    color: var(--color-white);
}

/* Media Query = 1024px */
@media only screen and (max-width: 1024px) {
    .featured-text {
        padding: 0;
    }

    .image,
    .image img {
        width: 320px;
        height: 320px;
    }
}

/* Media Query = 900px */
@media only screen and (max-width: 900px) {
    .nav-menu-btn {
        display: none;
    }

    .nav-menu.responsive {
        left: 0;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background: rgba(250, 250, 250, 0.7); */
        background: rgb(135, 73, 242, 0.1);
        backdrop-filter: blur(5px);
        width: 300px;
        border-radius: 0px 30px 0px 30px;
        min-height: 450px;
        height: 100vh;
        transition: 0.3s;
    }

    .nav_menu_list {
        flex-direction: column;
    }

    .nav-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .featured-box {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    .featured-text {
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-end;
        min-height: 60vh;
    }

    .social_icons {
        margin-top: 2em;
    }

    .featured-image {
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 55px;
    }

    .image,
    .image img {
        width: 250px;
        height: 250px;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* gap: 50px; */
        gap: 20px;
    }

    .col {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-info,
    .contact-info {
        width: 100%;
    }

    .skill {
        max-width: 100%;
    }

    .project-container {
        justify-content: center;
    }

    .project-box {
        width: 80%;
    }

    .portfolio-container {
        justify-content: center;
    }

    .portfolio-box {
        width: 80%;
    }

    .mode {
        display: flex;
        align-items: center;
        margin-left: 60%;
    }

    .section#about {
        padding-top: 3em !important;
    }

    .top-header h1.about-header {
        margin-bottom: 50px;
    }

    .skill {
        position: relative;
        max-width: 450px;
    }
}

/* Media Query = 540px */
@media only screen and (max-width: 540px) {
    .nav-menu {
        width: 200px;
    }

    .top-header {
        margin-bottom: 4em;
    }

    .about-me .profile {
        left: 30%;
    }

    .about-info figcaption {
        padding: 0;
        padding-top: 15px;
        text-align: center;
    }

    .featured-name {
        font-size: 40px;
    }

    .project-box {
        width: 100%;
    }

    .form-inputs {
        flex-direction: column;
    }

    .input-field {
        width: 100%;
    }

    .moon-sun {
        margin: -50px;
    }

    .mode {
        margin-left: 50%;
    }

    footer {
        row-gap: 20px;
        padding-block: 40px;
    }

    .middle-footer .footer-menu {
        flex-direction: column;
        align-items: center;
    }

    .bottom-footer p {
        text-align: center;
    }

    .footer-menu-list a {
        margin-inline: 10px;
    }

    .bottom-footer {
        padding: 10px;
    }

    .btn {
        padding: 10px 12px;
    }

    .form-button>.btn {
        margin-left: 30%;
    }

    .tab-item {
        min-width: 0px;
        padding: 6px 4px 3px 4px;
        font-size: 16px;
    }

    .tab-content {
        width: 100%;
    }

    .portfolio-box {
        width: 100%;
    }

    .skill {
        position: relative;
        max-width: 120px;
    }
}